<li id="questions">
  <span id="q-body"> {{question.body}} </span>
  <br>
  <span id="note"> {{question.note}} </span>
  <br>
  <span id="author"> ~ {{question.author}} </span>
</li>

<button class="btn btn-default btn-sm" {{action 'delete' question}}>Delete</button>
