<div class="banner">
	<div class="title_box">
		<h1 id="title">Ask Me Anything</h1>
	</div>
</div>

<div id="navbar" class="navbar">
	<ul>
		<li><a href="http://localhost:4200/">Home</a></li>
    <li><a href="https://github.com/Umitosan">My Github</a></li>
    <li><a href="https://github.com/Umitosan/AMA">Github project</a></li>
	</ul>
</div>

{{outlet}}
