
<div class="container">

	<h3>What would you like to ask?</h3>

	<div class="new-q-btn">
			{{new-question saveQuestion="saveQuestion"}}
	</div>

	<br>
	<h4>Total Questions: {{model.questions.length}}</h4>

	<ul id="all-qs">
	  {{#each model.questions as |question|}}
	    {{question-tile question=question}}
			<br>
	  {{/each}}
	</ul>

</div>
